.cardWrapper{
  width: 270px;
  margin: 20px;
}
.cardName{  
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

.cardTitle{
  color: red;
  font-size: 13px;
  margin: 10px 0;
}
.cardDescription{
  font-size: 15px;
  line-height: 1.3rem;
  margin-bottom: 10px;
}